# Pandas Basics

# Part 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series(data=[1,2,3,4],index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
myD = {'e':20,'f':200, 'g':2000, 'h':15}

In [5]:
pd.Series(myD)

e      20
f     200
g    2000
h      15
dtype: int64

In [6]:
myseries1 = pd.Series([1,2,3,4,5],['a','b','c','d','e'])

In [7]:
myseries1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
myseries2 = pd.Series([1,2,7,4,2],['a','b','c','f','e'])

In [9]:
myseries2

a    1
b    2
c    7
f    4
e    2
dtype: int64

In [10]:
myseries1 + myseries2

a     2.0
b     4.0
c    10.0
d     NaN
e     7.0
f     NaN
dtype: float64

In [11]:
myseries2['f']

4

# Part 2

In [12]:
from numpy.random import randn

In [14]:
mydata = randn(3,4)

In [15]:
mydata

array([[ 0.32450035, -0.05396945,  0.1563825 , -1.0169679 ],
       [-0.80662506, -1.27219216, -1.5129752 , -0.56453186],
       [-0.89620175, -2.02730682,  0.98006807, -0.03820317]])

In [16]:
mydataframe = pd.DataFrame(mydata, ['r1','r2','r3'],['c1','c2','c3','c4'])   #here = rows='indexes'

In [17]:
mydataframe

          c1        c2        c3        c4
r1  0.324500 -0.053969  0.156382 -1.016968
r2 -0.806625 -1.272192 -1.512975 -0.564532
r3 -0.896202 -2.027307  0.980068 -0.038203

In [18]:
mydataframe['c1']

r1    0.324500
r2   -0.806625
r3   -0.896202
Name: c1, dtype: float64

In [19]:
mydataframe[['c1','c3']]

          c1        c3
r1  0.324500  0.156382
r2 -0.806625 -1.512975
r3 -0.896202  0.980068

In [20]:
mydataframe['c5'] = mydataframe['c1'] * mydataframe['c3']

In [21]:
mydataframe

          c1        c2        c3        c4        c5
r1  0.324500 -0.053969  0.156382 -1.016968  0.050746
r2 -0.806625 -1.272192 -1.512975 -0.564532  1.220404
r3 -0.896202 -2.027307  0.980068 -0.038203 -0.878339

In [24]:
mydataframe.drop('c2',axis=1,inplace=True)

In [25]:
mydataframe

          c1        c3        c4        c5
r1  0.324500  0.156382 -1.016968  0.050746
r2 -0.806625 -1.512975 -0.564532  1.220404
r3 -0.896202  0.980068 -0.038203 -0.878339

# Part3

In [26]:
mydataframe.loc['r2']

c1   -0.806625
c3   -1.512975
c4   -0.564532
c5    1.220404
Name: r2, dtype: float64

In [27]:
mydataframe.iloc[1]

c1   -0.806625
c3   -1.512975
c4   -0.564532
c5    1.220404
Name: r2, dtype: float64

In [29]:
mydataframe.loc[['r1','r2'],['c4','c5']]

          c4        c5
r1 -1.016968  0.050746
r2 -0.564532  1.220404