In [1]:
pwd

'C:\\Users\\rudra'

In [2]:
import numpy as np
import pandas as pd

In [9]:
myframe = pd.read_csv('example-csv.csv')

In [10]:
myframe

      1     2     3
0    11    22    33
1   111   222   333
2  1111  2222  3333

In [14]:
myframe.to_csv('output.csv',index=False)

In [15]:
pd.read_csv('output.csv')

      1     2     3
0    11    22    33
1   111   222   333
2  1111  2222  3333